.feed-container {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  margin-left: 40%;
  width: 100%;
  min-height: 100vh;
  position: relative;
  gap: 25px;
  margin-bottom: 10%;
}

.card {
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 55%;
}
.card > a {
  padding: 0;
}
.user-section {
  display: flex;
  gap: 10px;
  align-items: center;
  border-bottom: 1px solid #e2e8f0;
}
.user-section > img {
  border-radius: 50%;
  width: 45px;
  height: 45px;
}
.buttons-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.buttons-section > :nth-child(2) {
  flex: 1;
}

.description-section {
  display: flex;
  gap: 15px;
  align-items: center;
}
.description-section > a > div {
  display: flex;
  gap: 15px;
  align-items: center;
}
.description-section > a > div > img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.comment-form {
  border-top: 1px solid #e2e8f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}
.comment-form > input {
  width: 80%;
  border: 0;
  padding: 8px;
}
.comment-form > button {
  width: 20%;
  border: 0;
  background-color: inherit;
  cursor: pointer;
}
p {
  color: #475569;
}
section {
  padding: 8px 12px;
}

.suggested-users {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 1%;
  border: 1px solid grey;
  min-height: 40vh;
  width: 40%;
  border-radius: 10px;
  gap: 4px;
  overflow-y: auto;
}

.users-container-profile {
  display: flex;
  align-items: center;
  gap: 3px;
  padding: 5px;
}

.users-container-profile-profile > :nth-child(1) {
  flex: 1;
}

.suggested-header {
  padding: 2px;
  border-bottom: 1px solid gray;
}

@media (max-width: 1156px) {
  .suggested-users {
    top: -200px;
    left: 70px;
    flex-direction: row;
    min-height: 15vh;
    width: 85%;
    padding: 5px;
    overflow-y: none;
    overflow-x: auto;
  }
  .suggested-header {
    display: none;
    border: 0;
  }

  .users-container-profile {
    flex-direction: column;
    gap: 0;
    padding: 1px;
  }

  .users-container-profile > a > div {
    flex-direction: column;
    gap: 0;
  }

  .feed-container {
    width: 100%;
    margin-left: 15%;
    margin-top: 30%;

    align-items: center;
  }

  .card {
    width: 65%;
  }
}

@media (max-width: 752px) {
  .suggested-users {
    top: -200px;
    left: 30px;

    width: 90%;
  }

  .users-container-profile > button {
    font-size: 0.7rem;
  }

  .feed-container {
    width: 100%;
    margin-left: 0;
    margin-top: 75%;
    align-items: center;
    padding-bottom: 20px;
  }

  .card {
    width: 70%;
  }
}

@media (max-width: 538px) {
  .suggested-users {
    left: 10px;

    width: 95%;
  }

  .feed-container {
    width: 100%;
    margin-left: 0;
    margin-top: 100%;
    align-items: center;
  }
  .card {
    width: 90%;
  }
}

@media (max-width: 370px) {
  .feed-container {
    width: 100%;
    margin-left: 0;
    margin-top: 120%;
    margin-bottom: 20%;
    align-items: center;
  }

  .card {
    width: 90%;
  }
}
