.chat-container {
  display: grid;
  align-self: center;
  justify-content: center;
  margin-top: 5%;
  margin-left: 30%;
  grid-template-columns: 2fr 4fr;
  grid-template-rows: 0.2fr 3fr;
  border: 1px solid #d1d5db;
  min-height: 85vh;
  width: 60%;
  font-size: 1.2rem;
}

.chat-header {
  grid-column: 1/1;
  grid-row: 1/0;
  height: 100%;
  text-align: center;
  padding: 10px;
}
.chat-users {
  grid-column: 1 / 2;
  border: 1px solid #d1d5db;
  max-height: 100%;
  overflow-y: auto;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-column: 2/2;
  grid-row: 2/2;
  border: 1px solid #d1d5db;
  padding: 10px;
}
.empty-chat {
  display: flex;
  align-items: center;
  justify-content: center;
}
.chat > .messages {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 600px;
  flex: 1;
  overflow: hidden;
  overflow-y: auto;
}
.private-chat-header {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 15px;
  grid-column: 2/2;
  grid-row: 1/2;
  border: 1px solid #d1d5db;
}
.private-chat-header > button {
  display: none;
}

.user-card {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 5px 10px;
  border: 1px solid #d1d5db;
}

.user-card:hover {
  background-color: #d1d5db;
  cursor: pointer;
}
.user-card.active {
  background-color: #d1d5db;
}
.user-card > div > :nth-child(1) {
  display: flex;
  gap: 2px;
  align-items: center;
}

.user-card > div > :nth-child(2) {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 0.7rem;
}

.user-card > img,
.private-chat-header > img,
.chat-box > img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.green-circle::before {
  content: '';
  border-radius: 50%;
}
.green-circle::before {
  width: 10px;
  height: 10px;
  display: block;
  background-color: green;
}

.chat-box {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px 25px;
  border-radius: 8px;
}

.chat-box > h4 {
  border: 1px solid #d1d5db;
  padding: 10px 30px;
  border-radius: 15px;
}

.chat-box.user {
  align-self: flex-end;
}

.chat-box.guest {
  align-self: flex-start;
}

.send-container {
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 15px;
  gap: 10px;
  border: 2px solid #d1d5db;
}

.chat-input {
  background-color: inherit;
  flex: 1;
  border: 0;
  outline: 0;
  font-size: 1.1rem;
}
.send-btn {
  cursor: pointer;
  color: #0ea5e9;
  font-size: 1.1rem;
}

.new-message {
  font-weight: 900;
}
@media (max-width: 1250px) {
  .chat-container {
    margin-left: 25%;
    width: 85vh;
  }
}

@media (max-width: 1010px) {
  .chat-container {
    margin-left: 18%;
    width: 85vh;
  }
}
@media (max-width: 880px) {
  .chat-container {
    margin-left: 20%;
    width: 75vh;
    font-size: 1.1rem;
  }
  .user-card.active {
    padding: 0;
    gap: 0;
  }
}

@media (max-width: 770px) {
  .chat-container {
    margin-left: 20%;
    font-size: 1rem;
    width: 70vh;
  }
}

@media (max-width: 750px) {
  .chat-container {
    margin: 18% auto;
    font-size: 1rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20%;
    margin-top: 15%;
    border: 0;
  }
  .chat-header,
  .private-chat-header {
    display: none;
  }

  .private-chat-header > button.activated {
    display: block;
    font-size: 1.8rem;
  }

  .private-chat-header.activated {
    display: flex;
  }

  .chat {
    display: none;
  }
  .chat-users {
    display: flex;
    border-radius: 8px;
    max-height: 70vh;
    min-height: 60vh;
    overflow-y: auto;
    width: 100%;
    border-radius: 12px;
  }

  .chat-users.disabled {
    display: none;
  }
  .chat.activated {
    display: flex;
    height: 65vh;
    width: 100%;
    max-height: 90vh;
    border-top: 0;
    gap: 10px;
  }
}
