.profile-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-height: 100vh;
  padding: 45px;
  width: 100%;
}
a {
  text-decoration: none;
  padding: 10px;
}

.profile-card {
  display: flex;
  padding: 25px;
  width: 70%;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.profile-card > img {
  border-radius: 50%;
}
.info-profile {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.info-profile > div {
  display: flex;
  align-items: center;
  gap: 15px;
}
.profile-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 55px;
  background-color: #f8fafc;
  width: 70%;
  margin-bottom: 10px;
  border-top: 1px solid grey;
}
.profile-nav > a {
  width: 100%;
  text-align: center;
}

.posts-container {
  display: grid;
  width: 70%;
  margin-top: 40px;
  min-height: 100vh;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.active {
  border-top: 2px solid black;
}
