.profile-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-height: 100vh;
  padding: 45px;
  width: 100%;
}
a {
  text-decoration: none;
  padding: 10px;
}

.profile-card {
  display: flex;
  padding: 25px;
  width: 70%;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.profile-card > img {
  border-radius: 50%;
  width: 135px;
  height: 100px;
  object-fit: scale-down;
}
.info-profile {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.info-profile > div {
  display: flex;
  align-items: center;
  gap: 15px;
}
.profile-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 55px;
  background-color: #f8fafc;
  width: 70%;
  margin-bottom: 10px;
  border-top: 1px solid grey;
}
.profile-nav > a {
  width: 100%;
  text-align: center;
}

.posts-container {
  display: grid;
  width: 70%;
  margin-top: 40px;
  min-height: 100vh;
  grid-template-columns: repeat(auto-fit, minmax(350px, 0.5fr));
  gap: 8px;
}

.posts-container .active {
  border-top: 2px solid black;
}

.info-followers {
  text-align: center;
}

.users-container-list {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  z-index: 10;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.users-list-content > :nth-child(1) {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border-bottom: 1px solid grey;
  z-index: 1500;
}

.users-list-content {
  width: 90%;
  background-color: white;
  color: black;
  z-index: 1000;
  border-radius: 12px;
  max-height: 45%;
  overflow-y: auto;
}

.users-container-profile > a > div > img {
  width: 40px;
  height: 50px;
}
.users-container-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.users-list-content {
  width: 25%;
}

@media (max-width: 1150px) {
  .users-list-content {
    width: 40%;
  }
}

@media (max-width: 753px) {
  .profile-container {
    display: flex;
    align-items: center;
    margin-top: 40%;
    padding: 0;
    width: 100%;
    min-height: 60vh;
  }

  .profile-card {
    width: 100%;
    gap: 35px;
  }
  .info-followers {
    width: 100%;
    height: 100%;
  }

  .users-list-content {
    width: 60%;
  }

  .users-container-profile > button {
    font-size: 0.9rem;
  }
}

@media (max-width: 450px) {
  .profile-card {
    padding: 15px;
    margin-top: 20%;
    gap: 25px;
  }

  .profile-nav {
    width: 100%;
  }

  .posts-container {
    justify-content: center;
  }

  .users-list-content {
    width: 90%;
  }

  .users-container-profile > button {
    font-size: 0.7rem;
  }
}
