.main-navigation {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  border-right: 1px solid gray;
  min-height: 100vh;
  padding: 1.5rem;
  width: 20%;
  justify-content: space-between;
  background-color: white;
}

a {
  text-decoration: none;
}
li,
.footer-nav {
  display: flex;
  align-items: center;
  gap: 25px;
  text-decoration: none;
  list-style: none;
  padding: 10px 10px;
  width: 100%;
  border-radius: 15px;
  cursor: pointer;
}
li:hover,
.footer-nav:hover {
  background-color: grey;
}

.header-nav {
  display: flex;
  flex-direction: column;
  gap: 55px;
  align-items: flex-start;
  justify-content: center;
}

.links-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.logo-mobile {
  display: none;
}

.profile-link > li > img {
  border-radius: 50%;
  width: 40px;
}

@media (max-width: 1150px) {
  .main-navigation {
    width: 100px;
  }
  .header-nav {
    align-items: center;
  }

  li,
  .footer-nav {
    gap: 20px;
  }
  li:hover,
  .footer-nav:hover {
    background-color: white;
  }
  h3 {
    display: none;
  }
  .logo-desktop {
    display: none;
  }
  .logo-mobile {
    display: block;
  }
}

@media (max-width: 752px) {
  .main-navigation {
    flex-direction: row;
    width: 100%;
    min-height: 10%;
    border-right: none;
    background-color: #f8fafc;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
      rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  }
  .logo-desktop {
    display: block;
  }
  .logo-mobile {
    display: none;
  }
  .footer-nav {
    display: none;
  }

  .header-nav {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .links-section {
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8fafc;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .notification-link {
    position: fixed;
    top: 1.5%;
    right: 0;
    padding: 0;
  }

  li:hover {
    background-color: #f8fafc;
  }
}
