.main-navigation {
  display: flex;
  flex-direction: column;
  border-right: 1px solid gray;
  min-height: 100vh;
  padding: 1.7rem;
  width: 15%;
  justify-content: space-between;
}
a {
  text-decoration: none;
}
li,
.footer-nav {
  display: flex;
  align-items: center;
  gap: 25px;
  text-decoration: none;
  list-style: none;
  padding: 10px 10px;
  width: 100%;
  border-radius: 15px;
  cursor: pointer;
}
li:hover,
.footer-nav:hover {
  background-color: grey;
}

.header-nav {
  display: flex;
  flex-direction: column;
  gap: 55px;
  align-items: flex-start;
  justify-content: center;
}

.links-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
