:root {
  --card_width: 450px;
  --row_increment: 100px;
  --card_border_radius: 16px;
  --card_small: 26;
  --card_med: 33;
  --card_large: 44;
}

.explore-container {
  padding: 0;
  margin-left: 20%;
  gap: 2px;
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--card_width));
  grid-auto-rows: var(10px);
  align-items: right;
  min-height: 100vh;
  background-color: #e5e5e5;

  justify-content: center;
  overflow-y: auto;
}

.card-explore {
  padding: 0;
  margin: 15px 10px;
  cursor: pointer;
}
.card-explore:hover {
  transform: scale(1.02);
  transition: transform 0.6s ease;
}

.card-explore > a > img {
  object-fit: cover;
  height: 85%;
  border-radius: var(--card_border_radius);
}
.card_small {
  grid-row-end: span var(--card_small);
}

.card_medium {
  grid-row-end: span var(--card_med);
}

.card_large {
  grid-row-end: span var(--card_large);
}

@media (max-width: 1150px) {
  .explore-container {
    margin-left: 12%;
    padding: 20px;
  }
}

@media (max-width: 750px) {
  .explore-container {
    margin-top: 18%;
    width: 100%;
    margin-left: 0;
    padding: 0;
    margin-bottom: 10%;
    grid-template-columns: repeat(auto-fill, 350px);
  }
}

@media (max-width: 570px) {
  .explore-container {
    margin-top: 25%;
    grid-template-columns: repeat(auto-fill, 280px);
  }
}

@media (max-width: 450px) {
  .explore-container {
    margin-top: 32%;
  }
  .card-explore > a > img {
    height: 75%;
  }
}
