:root {
  --card_width: 300px;
  --row_increment: 100px;
  --card_border_radius: 16px;
  --card_small: 26;
  --card_med: 33;
  --card_large: 42;
}

.explore-container {
  padding: 0;
  margin-left: 12%;
  gap: 2px;
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--card_width));
  grid-auto-rows: var(10px);
  min-height: 100vh;
  background-color: #e5e5e5;
  justify-content: center;
  overflow-y: auto;
}

.card-explore {
  padding: 0;
  margin: 15px 10px;
  cursor: pointer;
}
.card-explore:hover {
  transform: scale(1.02);
  transition: transform 0.6s ease;
}

.card-explore > a > img {
  object-fit: cover;
  height: 85%;
  border-radius: var(--card_border_radius);
  max-width: 100%;
}
.card_small {
  grid-row-end: span var(--card_small);
}

.card_medium {
  grid-row-end: span var(--card_med);
}

.card_large {
  grid-row-end: span var(--card_large);
}
@media (max-width: 1510px) {
  .explore-container {
    margin-left: 13%;
  }
}

@media (max-width: 1010px) {
  .explore-container {
    padding: 10px;
    grid-template-columns: repeat(auto-fill, 225px);
    justify-content: center;
    margin-left: 10%;
  }
}

@media (max-width: 880px) {
  .explore-container {
    padding: 18px;
    grid-template-columns: repeat(auto-fill, 180px);
    justify-content: center;
    margin-left: 16%;
  }
}

@media (max-width: 750px) {
  .explore-container {
    margin-top: 15%;
    width: 100%;
    margin-left: 0;
    padding: 0;
    margin-bottom: 10%;
    grid-template-columns: repeat(auto-fill, 180px);
  }
}

@media (max-width: 570px) {
  .explore-container {
    margin-top: 20%;

    grid-template-columns: repeat(auto-fill, 200px);
  }
}

@media (max-width: 450px) {
  .explore-container {
    margin-top: 26%;
    grid-template-columns: repeat(auto-fill, 250px);
    padding-top: 10px;
  }
  .card-explore > a > img {
    height: 75%;
  }
  .card-explore {
    margin: 0px 6px;
  }
}
