* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#dark {
  background-color: black;
}
#dark > * {
  background-color: black;
  color: white;
}

#dark .card {
  background-color: black;
  color: white;
}
#dark input {
  background-color: black;
  color: white;
}

#dark p {
  color: white;
}
#dark .footer-menu-section {
  background-color: black;
  color: white;
}
#dark .notifications-container {
  background-color: black;
  color: white;
}

#dark .profile-container {
  background-color: black;
}
#dark .profile-nav {
  background-color: black;
}

#dark .login-form > input,
#dark .register-form > input {
  background-color: #e1306c;
}

a {
  padding: 10px;
}
.primary-btn {
  padding: 10px 45px;
  border: 1px solid black;
  border-radius: 10px;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.2s linear infinite;
}
.spinner-container {
  display: grid;
  justify-content: center;
  align-items: center;
}

.signup-spinner,
.error-signup {
  margin-bottom: 18px;
  color: white;
}
.password-modal {
  position: absolute;
  top: 120%;
  background-color: white;
  border: 1px solid #ef4444;
  padding: 10px;
}
.password-modal > h1 {
  color: #ef4444;
}
.password-modal > ul {
  list-style-type: circle;
  list-style-position: outside;
}
.password-modal > ul > * {
  color: black;
}

.register-form > h1,
.login-form :nth-child(1) {
  font-size: 120px;
  margin-bottom: 20px;
  color: black;
  font-family: Roboto;
}

@media (max-width: 540px) {
  .register-form > h1,
  .login-form :nth-child(1) {
    font-size: 90px;
  }
}

@media (max-width: 540px) {
  .register-form > h1,
  .login-form :nth-child(1) {
    font-size: 90px;
  }
}

@media (max-width: 400px) {
  .register-form > h1,
  .login-form :nth-child(1) {
    font-size: 70px;
  }
}

@media (max-width: 295px) {
  .register-form > h1,
  .login-form :nth-child(1) {
    font-size: 65px;
  }
}
