.post-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
  z-index: 10000;
}

.details-info-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35%;
  background-color: white;
}

.post-details > * {
  z-index: 10000;
  height: 85vh;
  flex: 0 0 auto;
}

.user-section-details {
  display: flex;
  gap: 10px;
  align-items: center;
  border-bottom: 1px solid #e2e8f0;
  padding-bottom: 20px;
}
.user-section-details > img {
  border-radius: 50%;
  width: 45px;
  height: 45px;
}
.details-images-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55%;
}
.details-images-section > img {
  height: 95%;
  width: 95%;
}

.back-btn {
  position: absolute;
  cursor: pointer;
  right: 12px;
  top: 10px;
  display: block;
  color: white;
  font-size: 1.2rem;
}
.caption-comments {
  overflow-y: auto;
  flex: 1;
}
.comment-form {
  height: 8%;
  width: 100%;
}

.caption-section {
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 10px;
  margin-bottom: 30px;
}

.caption-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.caption-info > img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.likes-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.buttons-section-details {
  display: flex;
  gap: 5px;
  width: 100%;
}
.buttons-section-details > :nth-child(2) {
  flex: 1;
}
.commments-card {
  display: flex;
  flex-direction: column;
}
.comments-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.comments-info > div > a > div > img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.comment-card-info {
  display: flex;
  gap: 10px;
}

@media (max-width: 920px) {
  .post-details > * {
    height: 65vh;
  }
  .details-images-section {
    width: 50%;
  }
  .details-info-section {
    width: 45%;
    margin-left: 2px;
  }
}

@media (max-width: 620px) {
  .post-details {
    justify-content: flex-start;
  }
  .post-details > * {
    height: 90vh;
    flex: 0 0 auto;
  }
  .details-images-section {
    display: none;
  }
  .details-info-section {
    width: 100%;
    margin-left: 2px;
  }
}
